#clang-tidy example command-line : clang-tidy -p .\build\Debug --extra-arg=--sysroot="C:/Program Files (x86)/Arm GNU Toolchain arm-none-eabi/13.3 rel1/arm-none-eabi/" .\Core\Src\hardware\buttons\buttons.c
---
ExtraArgs:
  - "--target=arm-none-eabi"
  - "-Wno-unknown-warning-option"

Checks: "*,\
  -cppcoreguidelines-avoid-non-const-global-variables,\
  -altera-unroll-loops,\
  -llvmlibc-restrict-system-libc-headers,\
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,\
  -llvm-include-order,\
  -hicpp-no-assembler"

FormatStyle:
  file

UseColor:
  true

CheckOptions:
  - key: 'readability-identifier-naming.ConstantCase'
    value: 'UPPER_CASE'
  - key: 'readability-identifier-naming.EnumCase'
    value: 'UPPER_CASE'
  - key: 'readability-identifier-naming.EnumConstantCase'
    value: 'UPPER_CASE'
  - key: 'readability-identifier-naming.FunctionCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.LocalConstantCase'
    value: 'aNy_CasE'
...
