BasedOnStyle: Google
Language: Cpp
IndentWidth: 4
ColumnLimit: 130
ReflowComments: false
IncludeBlocks: Merge
AlignArrayOfStructures: Right
AllowShortEnumsOnASingleLine: false
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
InsertNewlineAtEOF: true
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
IndentCaseLabels: true
IndentCaseBlocks: true
Cpp11BracedListStyle: true
#SpaceAroundPointerQualifiers: Default
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false