BasedOnStyle: Google
Language: Cpp
IndentWidth: 4
ColumnLimit: 130
ReflowComments: false
IncludeBlocks: Merge
AlignArrayOfStructures: Right
AllowShortEnumsOnASingleLine: false
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
InsertNewlineAtEOF: true
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
IndentCaseLabels: true
IndentCaseBlocks: true
Cpp11BracedListStyle: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: true
  PadOperators: true