# SPDX-FileCopyrightText: 2025 Gilles Henrard <contact@gilleshenrard.com>
#
# SPDX-License-Identifier: MIT

#3D files
*.step filter=lfs diff=lfs merge=lfs -text
*.stp filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.atl filter=lfs diff=lfs merge=lfs -text

#KiCAD files
*.kicad_pcb filter=lfs diff=lfs merge=lfs -text

#Image files
*.png filter=lfs diff=lfs merge=lfs -text
