# SPDX-FileCopyrightText: 2025 Gilles Henrard <contact@gilleshenrard.com>
#
# SPDX-License-Identifier: MIT

#STEP files
*.step filter=lfs diff=lfs merge=lfs -text
*.stp filter=lfs diff=lfs merge=lfs -text
#KiCAD files
*.kicad_pcb filter=lfs diff=lfs merge=lfs -text
#Image files
*.png filter=lfs diff=lfs merge=lfs -text
*.kicad_pcb !text !filter !merge !diff
