# SPDX-FileCopyrightText: 2025 Gilles Henrard <contact@gilleshenrard.com>
#
# SPDX-License-Identifier: MIT

name: Firmware Build and lint
on:
  push:
    paths:
      - 'firmware/**'
      - '!firmware/resources/**'
      - '.github/workflows/firmware_build_lint.yml'
  pull_request:
    paths:
      - 'firmware/**'
      - '!firmware/resources/**'
      - '.github/workflows/firmware_build_lint.yml'
  schedule:
    - cron: "0 3 1 * *" #Automatically run at 03:00 every 1st of the month

env:
  CLANG-VERSION: 21

jobs:


#
# Build the firmware on Linux and Windows
#
  build:
    name: Build the firmware
    runs-on: ${{ matrix.os }}
    strategy:
       matrix:
          os: [ubuntu-latest, windows-latest]
          include:
            - os: windows-latest
              sys: ucrt64
              env: ucrt-x86_64

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
            submodules: recursive

      #Only for Linux
      - name: Install GNU Arm Embedded Toolchain - latest
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        id: arm-none-eabi-gcc-action
        with:
          release: 'latest'

      #Only for Linux
      - name: Install Ninja Build
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: turtlesec-no/get-ninja@main

      #Only for Windows
      - name: Set up MSYS2
        if: ${{ matrix.os == 'windows-latest' }}
        id: setup-msys2
        uses: msys2/setup-msys2@v2
        with:
          update: false
          cache: true
          msystem: ${{matrix.sys}}
          install: >-
            mingw-w64-${{matrix.env}}-arm-none-eabi-gcc
            mingw-w64-${{matrix.env}}-cmake

      #Only for Windows
      - name: Save the MSYS2 install directory in %PATH%
        if: ${{ matrix.os == 'windows-latest' }}
        shell: powershell
        run: |
          echo "${{ steps.setup-msys2.outputs.msys2-location }}/${{matrix.sys}}/bin" >> $env:GITHUB_PATH

      - name: Configure CMake and build (Debug)
        run:  |
              cd ${{github.workspace}}/firmware/
              cmake --preset Debug
              cmake --build --preset Debug

      - name: Configure CMake and build (Release)
        run:  |
              cd ${{github.workspace}}/firmware/
              cmake --preset Release
              cmake --build --preset Release

      #Only for Linux
      - name: Save the Debug CMake configuration folder
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v4
        with:
          name: build-Debug
          path: ${{github.workspace}}/firmware/build/Debug
          if-no-files-found: error


#
# Run code quality and documentation checks
#
  code-quality:
    name: Linters and documentation tools
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
            submodules: recursive
            lfs: false

      - name: Download the saved CMake configuration folder
        uses: actions/download-artifact@v4
        with:
          name: build-Debug
          path: ${{github.workspace}}/firmware/build/Debug

      - name: Install GNU Arm Embedded Toolchain - latest
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        id: arm-none-eabi-gcc-action
        with:
          release: latest

      - name: Check the GNU Arm Embedded Toolchain triplet
        run: ls -la ${{ steps.arm-none-eabi-gcc-action.outputs.path }}/../arm-none-eabi

      - name: Install clang tools
        run: |
              wget https://apt.llvm.org/llvm.sh
              chmod +x llvm.sh
              sudo ./llvm.sh ${{env.CLANG-VERSION}}
              sudo apt-get install -y clang-tidy-${{env.CLANG-VERSION}} clang-format-${{env.CLANG-VERSION}}
              sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-${{env.CLANG-VERSION}} ${{env.CLANG-VERSION}}
              sudo update-alternatives --set clang /usr/bin/clang-${{env.CLANG-VERSION}}
              sudo update-alternatives --install /usr/bin/clang-tidy clang-tidy /usr/bin/clang-tidy-${{env.CLANG-VERSION}} ${{env.CLANG-VERSION}}
              sudo update-alternatives --set clang-tidy /usr/bin/clang-tidy-${{env.CLANG-VERSION}}
              sudo update-alternatives --install /usr/bin/run-clang-tidy run-clang-tidy /usr/bin/run-clang-tidy-${{env.CLANG-VERSION}} ${{env.CLANG-VERSION}}
              sudo update-alternatives --set run-clang-tidy /usr/bin/run-clang-tidy-${{env.CLANG-VERSION}}
              sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-${{env.CLANG-VERSION}} ${{env.CLANG-VERSION}}
              sudo update-alternatives --set clang-format /usr/bin/clang-format-${{env.CLANG-VERSION}}
              rm llvm.sh

      - name: Install other linters
        run: |
              sudo apt-get update && sudo apt-get install -y cppcheck doxygen
              sudo pip install lizard reuse

      - name: Cleanup compile_commands.json for clang-tidy
        run: sed -i 's/-fanalyzer//g' ${{github.workspace}}/firmware/build/Debug/compile_commands.json

      - name: Create CPPcheck build directory
        run: mkdir -p ${{github.workspace}}/firmware/config-cppcheck-build-dir/

      - name: run clang-tidy
        id: clang-tidy
        continue-on-error: true
        run:  >
              run-clang-tidy
              -quiet
              -p ${{github.workspace}}/firmware/build/Debug/
              -extra-arg=--sysroot=${{ steps.arm-none-eabi-gcc-action.outputs.path }}/../arm-none-eabi
              -extra-arg=--target=armv7m-none-eabi
              -extra-arg=-mthumb
              -header-filter=.*
              "(hardware|ui|dispatcher)"

      - name: Run CppCheck
        id: cppcheck
        continue-on-error: true
        run:  >
              cppcheck
              --enable=all
              --language=c
              --inconclusive
              --inline-suppr
              --error-exitcode=2
              --check-level=exhaustive
              --project=${{github.workspace}}/firmware/build/Debug/compile_commands.json
              --cppcheck-build-dir=${{github.workspace}}/firmware/config-cppcheck-build-dir/
              -i${{github.workspace}}/firmware/build/
              -i${{github.workspace}}/firmware/Drivers/
              -i${{github.workspace}}/firmware/Middlewares/
              -i${{github.workspace}}/firmware/schematics/
              -i${{github.workspace}}/firmware/Core/
              --suppress=missingIncludeSystem
              --suppress=missingInclude
              --suppress=unusedFunction
              --suppress=unknownMacro

      - name: Run Lizard
        id: lizard
        continue-on-error: true
        run: >
          lizard
          -Tlength=60
          -Tnloc=60
          -Tparameter_count=5
          -Tcyclomatic_complexity=10
          -Eduplicate
          -m
          firmware/hardware/
          firmware/ui/
          firmware/dispatcher/

      - name: Run Doxygen
        id: doxygen
        continue-on-error: true
        run: doxygen firmware/Doxyfile

      - name: Check Clang-format
        id: clang-format
        continue-on-error: true
        run: >
          find firmware/hardware firmware/ui firmware/dispatcher -name '*.c' -o -name '*.h' -o -name '*.inc'
          | xargs clang-format --style=file --dry-run --Werror --verbose

      - name: Open source Copyright and Lincensing
        id: reuse
        continue-on-error: true
        run: reuse --include-submodules lint

      #File names and paths must contain only lowercase, numbers or underscores
      - name : Check for files naming convention
        id : filenames
        continue-on-error: true
        run : |
          chmod +x firmware/resources/check_filenames.sh
          ./firmware/resources/check_filenames.sh

      - name : Display symbols size
        id : sizing
        continue-on-error: true
        run : >
          arm-none-eabi-nm
          --demangle=gnu-v3
          --print-size
          --size-sort
          --reverse-sort
          --format=sysv
          --radix=d
          --line-numbers
          ${{github.workspace}}/firmware/build/Debug/Leany.elf

      - name: Final result
        run: |
          failed=0

          if [ "${{ steps.clang-tidy.outcome }}" != "success" ]; then
            echo "::error::clang-tidy failed"
            failed=1
          fi
          if [ "${{ steps.cppcheck.outcome }}" != "success" ]; then
            echo "::error::cppcheck failed"
            failed=1
          fi
          if [ "${{ steps.lizard.outcome }}" != "success" ]; then
            echo "::error::lizard failed"
            failed=1
          fi
          if [ "${{ steps.clang-format.outcome }}" != "success" ]; then
            echo "::error::clang-format failed"
            failed=1
          fi
          if [ "${{ steps.reuse.outcome }}" != "success" ]; then
            echo "::error::reuse failed"
            failed=1
          fi
          if [ "${{ steps.filenames.outcome }}" != "success" ]; then
            echo "::error::filenames failed"
            failed=1
          fi
          if [ "${{ steps.doxygen.outcome }}" != "success" ]; then
            echo "::error::doxygen failed"
            failed=1
          fi
          if [ "${{ steps.sizing.outcome }}" != "success" ]; then
            echo "::error::Displaying symbols size failed"
            failed=1
          fi
          if [ $failed -eq 1 ]; then
            exit 1
          fi

