# SPDX-FileCopyrightText: 2025 Gilles Henrard <contact@gilleshenrard.com>
#
# SPDX-License-Identifier: MIT

name: Test the the cross-compiler installation scripts
on: 
  push:
    paths:
      - 'firmware/resources/install_prerequisites_ubuntu.sh'
      - 'firmware/resources/install_prerequisites_windows.bat'
      - '.github/workflows/install_compiler.yml'
  pull_request:
    paths:
        - 'firmware/resources/install_prerequisites_ubuntu.sh'
        - 'firmware/resources/install_prerequisites_windows.bat'
        - '.github/workflows/install_compiler.yml'
  schedule:
    - cron: "0 3 1 * *" #Automatically run at 03:00 every 1st of the month
  workflow_dispatch:

jobs:
  build:
    name: Download and test the cross-compiler installation scripts
    runs-on: ${{ matrix.os }}
    strategy:
       matrix:
          os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
            submodules: recursive

      #Only for Linux
      - name: Install GNU Arm Embedded Toolchain - latest
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
            chmod +x firmware/resources/install_prerequisites_ubuntu.sh
            ${{github.workspace}}/firmware/resources/install_prerequisites_ubuntu.sh
            . /etc/profile.d/arm-none-eabi.sh
            arm-none-eabi-gcc --version

      #Only for Windows (with Winget pre-installed)
      - name: Install GNU Arm Embedded Toolchain - latest
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
            ${{github.workspace}}/firmware/resources/install_prerequisites_windows.bat
            echo "C:\msys64\ucrt64\bin" >> $env:GITHUB_PATH


      #Only for Windows
      - name: Verify GNU Arm Embedded Toolchain installation
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
            arm-none-eabi-gcc --version
